#magnate-map-section {
	display: flex;
	flex-direction: column;
}

#magnate-play-area {
	display: flex;
	flex-wrap: wrap;

	justify-content: space-between;

	align-self: flex-end;
}

#magnagte-play-area {
	transition: background-color 0.8;
}

#magnate-play-area > .map-preview-container {
	position: absolute;
	top: 0;
	left: 0;
}

