#root {
	--resizable-element-border-size: 1.5em;
}

.resizable-element {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;

	aspect-ratio: 1;
	/* height: auto; */

	box-sizing: border-box;

	border: var(--resizable-element-border-size) black solid;
	border-radius: var(--resizable-element-border-size);

	transition: opacity 0.02s;
}

.resizable-element-handle {
	position: absolute;
	bottom: calc(
		-1 / 1.15 * var(--resizable-element-border-size)
	);
	right: calc(
		-1 / 1.15 * var(--resizable-element-border-size)
	);

	background-color: white;

	width: var(--resizable-element-border-size);
	height: var(--resizable-element-border-size);

	border-radius: 100%;
}

.resizable-minimized {
	opacity: 0;
}

