#root {
	--card-description-colour: #fdf2da;
}

.game-employee-card {
	--card-line-height: 1em;

	display: grid;
	grid-auto-flow: column;
	aspect-ratio: 56/87;
	border: 0.15vw solid black;

	grid-template-rows: 60% 40%;

	overflow: hidden;

	box-sizing: border-box;

	font-size: 0.38vw;

	position: relative;
}

.game-employee-card-description {
	display: relative;
	width: 100%;

	justify-content: center;
	align-items: center;
	/* font-size: 1.2vw; */
	color: black;
	background-color: var(--card-description-colour);
	padding: 0px;
	height: 40%;
}

.game-employee-card > * {
	height: 100%;
	width: 100%;
}

.game-employee-card-salary-div {
	user-select: none;

	display: flex;
	justify-content: center;
	align-items: center;

	width: var(--card-line-height);

	line-height: var(--card-line-height);
	aspect-ratio: 1;

	position: absolute;
	bottom: 0.5em;
	right: 0.5em;

	font-weight: bolder;

	box-sizing: content-box;

	background-color: green;
	padding: 0.3em;
	border-radius: var(--card-line-height);

	border: black solid calc(var(--card-line-height) * 0.2);

	font-size: calc(2 * var(--card-line-height));
}
