.game-map-house {
	background-color: pink;
	color: white;

	/* width: 100%; */
	/* height: 100%; */
	text-align: center;
	line-height: 10px;
	font-size: 10px;
	z-index: 2;

	position: relative;
}

.game-map-house > * {
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
}

.game-map-house-demand-box {
	display: flex;
	margin: 1em;
	aspect-ratio: 1;
	max-width: 100%;
	max-height: 100%;
}

.game-map-house-demand-box div {
	flex: 1;
}
