.map-preview-container {
	display: grid;
	border: var(--map-tile-piece-border-colour)
		var(--map-tile-border-size) solid;
	box-sizing: border-box;

	height: 100%;

	grid-auto-rows: 1fr;

	background-color: black;

	/* GRID TEMPLATE ROWS MUST BE SPECIFIED FROM THE CODE SIDE */
	/* grid-template-rows: repeat(5, minmax(auto, 1fr)); */
}

.map-preview-container > *:not(.map-tile) {
	z-index: 2;
}
